p {
     font-family: 'Roboto', sans-serif;
    font-size: 1.5em !important;
}

ul.dropdown-menu {
    font-size: 1.0em !important;
}


body {
    font-family: 'Roboto', sans-serif;

    /* font-size: 80px; */
    font-size: 5px;
}

body {
  font-size: 140%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em !important;
 /* font-size: 10em; */
}

h2 {
  font-size: 10em;
}

p {
  font-size: 10em;
}


.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    font-size: 2.5em;
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    font-size: 1em;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;

}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
    font-family: Roboto;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    /* font-size: 140%; */
    font-size: 4em;
    font-family: Roboto;
}
.post-body h2 {
     font-size: 4em;
    /*  font-size: 130%; */
}
.post-body h3 {
     font-size: 4em;
    /*  font-size: 120%; */
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

ul {
    font-family: 'Roboto', sans-serif;
font-size: 1.5em !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-text-color-logo{
    color:blue;
}

