{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Title Here{% endblock %}

{% block head %}
    {% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
{% endblock %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename= 'font.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
@font-face{
    font-family: Roboto;
    src: {{ url_for('static',filename='fonts/Roboto-Regular.ttf') }} ;
}
</style>

{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="color: #103497; font-size:2.5vw" class="navbar-brand" href="{{ url_for('main.index') }}" style="font-size:3vw" class="navbar-text-color-logo"><b>GoGoPets</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
<li><a href="{{ url_for('main.index') }}">Upload Image</a></li>
                    <li><a href="{{ url_for('main.index') }}">Articles</a></li>
                     <li><a href="{{ url_for('main.index') }}">Market</a></li>
                    <li><a href="{{ url_for('main.index') }}">Social</a></li>
                    <li><a href="{{ url_for('main.index') }}">Report</a></li>


                <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>

                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>

                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>

                    {%  else %}
                    <li><a href="{{ url_for('main.index') }}">Upload Image</a></li>
                    <li><a href="{{ url_for('main.index') }}">Articles</a></li>
                     <li><a href="{{ url_for('main.index') }}">Market</a></li>
                    <li><a href="{{ url_for('main.index') }}">Social</a></li>
                     <li><a href="{{ url_for('main.index') }}">Report</a></li>




                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                <li><a href="{{ url_for('main.moderate') }}">Moderate</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        Account <b class="caret"></b>
                    </a>

                <ul class="dropdown-menu">

                     <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>

                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>


                </li>
                {% else %}

<li><a href="{{ url_for('auth.login') }}">Log In</a></li>

                {% endif %}

            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
