
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Testing Pictures{% endblock %}

{% block page_content %}
    {% for pic in picture %}
<!DOCTYPE html>
<html lang="en">
       <!-- <title>China</title> -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img src="{{ pic.link }}" alt="Pet">

{% endfor %}

</body>
{% endblock %}
</html>